
<html>
    <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      
	  
      <title>DoERC</title>
 
	</head>
    
	<body>

	    <img id="ERunicorn" src="/static/EricRobertsUnicorn.jpg" width=5% alt="team unicorn">

        <!--
        <div class="nav">
            <a {% if request.path == url_for('index') %} class='active' {% endif %} href="{{ url_for('index') }}">Home</a>
            <a {% if request.path == url_for('results') %} class='active' {% endif %} href="{{ url_for('results') }}">Results</a>
            
        </div> 
        -->
        {% block content %} 
        
        {% endblock %}
        
        
        
    </body>
</html>





