{% extends 'base.j2' %}
{% block content %}

<div class="failure">       
        
		<h1>Results for {{query}}</h1>
		<p class="index">Either the actor that you picked has never shared the screen with Eric Roberts <br>
        or that actor is not in this database.  Try a big-name actor and try again </p>
		
        <a href="{{ url_for('index') }}"><button style="background-color: purple;">Go back to main page and try again</button></a>
        
        <div class="degrees-number">0</div>
        
		<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


 {% endblock %}