{% extends 'base.j2' %}
{% block content %}

<div class="index">       
        
		<h1>Degree of Eric Roberts Calculator</h1>
		 
        <span class="index">Welcome to the first and only Degree of Eric Roberts Calculator on the whole interwebs</span> <br><br>
		
		<b class="index">WHAT IS THE DoERC ?!? (Degrees Of Eric Roberts Calculator) </b><br> 
		<span class="index">The DoERC (pronounced "DORK") is an online database that can calculate <br>
        how many degrees of separation exist between ER, the greatest actor to have every graced the face of the planet, <br>
        and other, lesser actors. Kind of like Degrees of Kevin Bacon, but far far better. <br>
        Judging by the most reliable metric of the caliber of an actor: number of movies starred in,  <br>
        ER is one of the greatest actors ever. What his opus lacks in quality it more than makes up for in sheer quantity <br>
        The DoERC is created from a subset of of the Internet Movie Database's dataset and <br>
        allows the user to find out how many movies separate the great ER from other actors.</span>
		
        <br><br>
        <b class="index">HOW DO I USE THE DoERC?</b><br>
        <span class="index">Enter a name in the text box below and click submit and you will be taken to the results page. That's it!</span>
        
        <br><br><br><br>
		<form action="/results" method="GET">  
	    <fieldset>
		<legend>Submit Query to DoERC</legend>
		<label>Actor Name:
			<input type="text" name="actor_name" size="15" maxlength="100">
		</label>
		
		
		<input type="submit" value="Submit" />
	</fieldset>
	</form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>


 {% endblock %}